//-This is a simple block for description one font of the project
mixin font-block(tagName, description, index)
  div(class='font-block__tag-name-' + index)= tagName
  div(class='font-block__description-' + index)= description
