mixin svg_logo
  div(style="display: inline-block; position: absolute;")
    svg(style="display: inline-block; position: absolute;" width="48" height="48" viewBox="30 30 48 48" preserveAspectRatio="xMinYMin meet")
      circle(cx="54" cy="54" r="21" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" fill="transparent")
      //- <!-- <rect width="14" height="14" x="40" y="48" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" fill="transparent"/> -->
      //- <!-- <rect width="11" height="7" x="57" y="48" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" fill="transparent"/> -->
      path(fill="none" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" d="M54,62 Q54,48 40,48" stroke-linecap="round")
      //- <!-- <path fill="none" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" d="M54,62 Q54,48 68,48" stroke-linecap="round"/> -->
    

    svg(style="display: inline-block; position: absolute; top: 16px; left: 24.5px;" width="17" height="10" viewBox="55 46 17 10" preserveAspectRatio="xMinYMin slice")
      //- <!-- <circle cx="54" cy="54" r="21" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" fill="transparent"/> -->
      //- <!-- <rect width="14" height="14" x="40" y="48" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" fill="transparent"/> -->
      //- <!-- <rect width="11" height="7" x="57" y="48" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" fill="transparent"/> -->

      path(fill="none" stroke="rgba(31, 32, 65, 0.25)" stroke-width="3" d="M54,62 Q54,48 68,48" stroke-linecap="round")
      path(fill="none" stroke="#FFFFFF" stroke-width="4" d="M56,62 Q56,48 42,48" stroke-linecap="round")
